.normal-card aside {
    width: 290px;
    height: 350px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}

.cesar {
    background-image: url(../assets/cesar.png);
}

.mateo {
    background-image: url(../assets/mateo.png);
}

.melissa {
    background-image: url(../assets/melissa.png);
}

.mayte {
    background-image: url(../assets/mayte.png);
}

.jeymer {
    background-image: url(../assets/jeymer.png);
}

.miryam {
    background-image: url(../assets/miryam.png);
}

.nijme {
    background-image: url(../assets/nijme-p.png);
}

.card-img img {
    width: 290px;
    margin-bottom: 20px;
}

.normal-card-title p {
    font-family: "belgiano";
    color: var(--azul);
}